
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*
max-width: 1440px
min-width: 375px
Soft-Red hsl(5, 85%, 63%)
Soft orange: hsl(35, 77%, 62%)
Body's Background Off-white: hsl(36, 100%, 99%)
Navigation Dark grayish blue: hsl(236, 13%, 42%)
New section Very dark blue: hsl(240, 100%, 5%)
paragraph font-size: 15px
https://fonts.google.com/specimen/Inter
weights: 400, 700, 800
*/

/*
=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=# Grid Layout =#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#=#
*/
.block-image-mobile {
    display: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'header header header'
    'main main main'
    'attribution attribution attribution';
    max-width: 100vw;
    height: auto;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas: 'logo nav-container';
    grid-template-columns: 1fr 9fr;
    width: 100%;
}

.logo {
    grid-area: logo;
    width: 60px;
    height: 40px;
}

.nav-container {
    grid-area: nav-container;
    width: 100%;
    display: grid;
}

.nav-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
    'block-image-container block-image-container new-aside-section'
    'bright-future read-more-container new-aside-section'
    'tech-trio-block tech-trio-block tech-trio-block';
}

.block-image-container {
    grid-area: block-image-container;
    width: 100%;
}

.block-image-container img {
    width: 100%;
    height: auto;
}

.new-aside-section {
    grid-area: new-aside-section;
    max-height: 100%;
    width: 100%;
}

.bright-future {
    grid-area: bright-future;
}

.read-more-container {
    grid-area: read-more-container;
}

.tech-trio-block {
    grid-area: tech-trio-block;
    justify-content: space-between;
    display: grid;
    grid-template: auto / auto auto auto;
    grid-auto-columns: 1fr;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    grid-area: attribution;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
